## PS 3 - Misc Notebook - The Butterfly DiD it

Here we do a variant of a key analysis in <a href="http://sekhon.berkeley.edu/papers/butterfly.pdf">Wand et al, "The Butterfly Did It"</a>

Replication data from <a href="https://dataverse.harvard.edu/file.xhtml?persistentId=doi:10.7910/DVN/EZ1UDS/NFKBTV&version=1.2">here</a>.

Loading up the data

In [1]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
plt.style.use('seaborn-whitegrid')
# Loading in the data
florida = pd.read_csv('Abseday.FL2000.tab', sep='\t')
florida

,@#,County,TotalPresVotes,TotalBuchanan,TotalAbsentee,BuchananAbsentee,ElecdayBuch,AbsenteeBuch,AbsElecRatio,Difference
0,1,Alachua,85729,263,10694,40,0.297195,0.374042,1.258574,-0.076847
1,2,Baker,8154,73,1111,4,0.979696,0.360036,0.367498,0.619660
2,3,Bay,58805,248,12587,37,0.456532,0.293954,0.643885,0.162578
3,4,Bradford,8673,65,1126,4,0.808268,0.355240,0.439507,0.453028
4,5,Brevard,218395,570,31811,83,0.261008,0.260916,0.999646,0.000092
...,...,...,...,...,...,...,...,...,...,...
62,63,Union,3826,37,661,3,1.074250,0.453858,0.422488,0.620392
63,64,Volusia,183653,498,28018,82,0.267292,0.292669,1.094941,-0.025377
64,65,Wakulla,8587,46,1101,6,0.534331,0.544959,1.019891,-0.010628
65,66,Walton,18318,120,3084,19,0.662991,0.616083,0.929248,0.046908
66,67,Washington,8025,88,1079,9,1.137345,0.834106,0.733379,0.303240

Computing the same day totals by subtracting Absentee from Total

In [2]:
florida['SDTotal'] = florida['TotalPresVotes'] - florida['TotalAbsentee']
florida['SDBuchanan'] = florida['TotalBuchanan'] - florida['BuchananAbsentee']

Separating out PBC from the rest of Florida

In [3]:
PBC = florida[florida['County']=="Palm Beach"]
noPBC = florida[florida['County']!="Palm Beach"]
PBC

,@#,County,TotalPresVotes,TotalBuchanan,TotalAbsentee,BuchananAbsentee,ElecdayBuch,AbsenteeBuch,AbsElecRatio,Difference,SDTotal,SDBuchanan
49,50,Palm Beach,433186,3411,45830,101,0.854511,0.22038,0.257901,0.634131,387356,3310

In [4]:
noPBC

,@#,County,TotalPresVotes,TotalBuchanan,TotalAbsentee,BuchananAbsentee,ElecdayBuch,AbsenteeBuch,AbsElecRatio,Difference,SDTotal,SDBuchanan
0,1,Alachua,85729,263,10694,40,0.297195,0.374042,1.258574,-0.076847,75035,223
1,2,Baker,8154,73,1111,4,0.979696,0.360036,0.367498,0.619660,7043,69
2,3,Bay,58805,248,12587,37,0.456532,0.293954,0.643885,0.162578,46218,211
3,4,Bradford,8673,65,1126,4,0.808268,0.355240,0.439507,0.453028,7547,61
4,5,Brevard,218395,570,31811,83,0.261008,0.260916,0.999646,0.000092,186584,487
...,...,...,...,...,...,...,...,...,...,...,...,...
62,63,Union,3826,37,661,3,1.074250,0.453858,0.422488,0.620392,3165,34
63,64,Volusia,183653,498,28018,82,0.267292,0.292669,1.094941,-0.025377,155635,416
64,65,Wakulla,8587,46,1101,6,0.534331,0.544959,1.019891,-0.010628,7486,40
65,66,Walton,18318,120,3084,19,0.662991,0.616083,0.929248,0.046908,15234,101
66,67,Washington,8025,88,1079,9,1.137345,0.834106,0.733379,0.303240,6946,79

Computing the Buchanan vote share outside PBC for same day ballots...

In [5]:
BS_SD_noPBC = np.sum(noPBC['SDBuchanan'])/np.sum(noPBC['SDTotal'])
BS_SD_noPBC

0.0025344012477052295

...and absentee

In [6]:
BS_A_noPBC = np.sum(noPBC['BuchananAbsentee'])/np.sum(noPBC['TotalAbsentee'])
BS_A_noPBC

0.002623554525255473

And now the difference in Buchanan vote share in Same day vs Absentee for outside PBC

In [7]:
diff_noPBC = BS_SD_noPBC - BS_A_noPBC
diff_noPBC

-8.915327755024344e-05

Basically no difference!

Now doing the same for PBC

In [8]:
PBC['County']

49    Palm Beach
Name: County, dtype: object

In [9]:
BS_SD_PBC = PBC['SDBuchanan']/PBC['SDTotal']
BS_SD_PBC

49    0.008545
dtype: float64

In [10]:
BS_A_PBC = PBC['BuchananAbsentee']/PBC['TotalAbsentee']
BS_A_PBC

49    0.002204
dtype: float64

In [40]:
diff_PBC = BS_SD_PBC - BS_A_PBC
diff_PBC

49    0.006341
dtype: float64

Here is our Differences in Differences estimate of the causal effect of the butterfly ballot (in vote shares)

In [56]:
DiD = diff_PBC - diff_noPBC
DiD

49    0.00643
dtype: float64

Finally, let's translate this into a causal effect on the number of Buchanan votes: multiplying times the number of same day votes:

In [58]:
DiD*PBC['SDTotal']

49    2490.880206
dtype: float64

In [59]:
PBC['SDBuchanan']

49    3310
Name: SDBuchanan, dtype: int64

In [60]:
3310 - DiD*PBC['SDTotal']

49    819.119794
dtype: float64